<a href="https://colab.research.google.com/github/chandansinghthakur/Time_series/blob/main/time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pandas.core.generic import InvalidIndexError
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams

In [6]:
url = "https://raw.githubusercontent.com/chandansinghthakur/Time_series/main/PH-Sales.csv"
df = pd.read_csv(url, index_col=0)

In [11]:
df.head()

            Number of Tractor Sold
Month-Year
Jan-03                         141
Feb-03                         157
Mar-03                         185
Apr-03                         199
May-03                         203

In [10]:
df.describe()

       Number of Tractor Sold
count              144.000000
mean               389.694444
std                171.500016
min                138.000000
25%                248.500000
50%                369.000000
75%                509.250000
max                871.000000

In [12]:
df.count()

Number of Tractor Sold    144
dtype: int64